body{
	background-color: green;
}
#header {
	margin: 0;
	border-radius: 2em;
	color: white;
	width: 100%;
	height: 25%;
	background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
	
}
#mainmenu{
	width:20%;
	height: 50%;
	float:left;
	background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
	border-radius: 2em;
}
#centralarea{
	float: right;
	width:65%;
}
.centralise{
	left:30%;
}
.majoraction {
	margin: 0;
	color: white;
	height: 25%;
	
}
select,textarea,input[type="text"],input[type="email"],input[type="submit"],input[type="reset"],input[type="password"],input[type="file"] {
	width: 95%;
}
table {
	width:100%;
}
.error {color: #A00; font-weight: 800; 
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==") no-repeat scroll 0% 50%;
    
}
.success{
	background-color: white;
	
}
fieldset{border: 0px;}

.active > a:first-child {
  color: #e2007a !important;
}
.likelink{
	color: blue;
	font-style: underline;
}
#stalogin{
	background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
	float:left;
	width:48%;
	border-radius: 2em;
	border-right: 10px;

}
#stulogin{
	float:right;
	width:48%;
	background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
	border-radius: 2em;

	}
#register{
	border-radius: 2em;
	background: green;
	}

#leftdata{
	float:left;
	width:48%;

}

#rightdata{float: right;
	border-radius: 2em;
	width:48%;
	
}

#footer {width : 100%;
float : left;
background: green url(../images/gradient.png) repeat-x 0 -110px;
}

